header {
  background-color: #52b0ee;
}

#header__table {
  width: 90%;
  margin: 0 auto;
}

#header__tableRow {
  width: 100%;
}

#header__leftCell {
  width: 250px;
  text-align: left;
}

#header__rightCell {
  text-align: right;
  width: 250px;
}

#header__logoImage {
  display: inline-block;
  margin-left: 0px;
  width: 50px;
  height: 50px;
}

#header__label {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5em;
  font-weight: bold;
}

#header__navigation {
  width: 100%;
}

#header__navigation a {
  margin: 10px;
}

#header__navigation a:link {
  margin: 10px;
  text-align: right;
}

#header__navigation a:link {
  color: #54627a;
  text-decoration: none;
}

#header__navigation a:hover {
  color: #111822;
  text-decoration: none;
}

#header__rightImage {
  margin-left: 0px;
  width: 50px;
  height: 50px;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 70%;
  color: #111822;
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: #dddddd;
}

body img {
  vertical-align: middle;
}

body #mainBody,
body #header {
  padding: 0;
  text-align: left;
}

#wrapper {
  margin-top: 2.5%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  -webkit-box-shadow: -3px 2px 12px rgba(0, 0, 0, 0.25), -12px 20px 70px rgba(0, 0, 0, 0.14);
          box-shadow: -3px 2px 12px rgba(0, 0, 0, 0.25), -12px 20px 70px rgba(0, 0, 0, 0.14);
  background-color: #f0f0f0;
}

#introImg {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: auto;
}

#intro {
  position: relative;
  display: inline-block;
  width: 100%;
}

#intro p {
  display: inline-block;
  padding-left: 5%;
  text-align: left;
  font-size: 1.2vw;
  vertical-align: middle;
}

#intro p strong {
  font-size: 3.2vw;
  font-weight: bold;
}

#intro img {
  margin-right: 5%;
  vertical-align: middle;
  display: inline-block;
  width: 50%;
  height: auto;
}

#banner {
  width: 85%;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#nav {
  width: 200px;
  float: left;
}

#aside {
  width: 300px;
  float: right;
}

#content {
  margin: 0 300px 0 200px;
}

#footer {
  color: #f0f0f0;
  clear: both;
  padding: 8px;
  background: #4070a0;
}
